.descriptionWidth {
  font-size: x-large;
  text-align: left;
}

.descriptionWidth p {
  margin: 0;
  padding: 0;
}

.imageWidth {
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

