.property-card .carousel .slide {
  height: 200px;
  background: var(--secondary-bg);
}

.property-card .slide-contain img {
  width: auto !important;
}

.property-card .carousel .control-next.control-arrow:before {
  border-left: 8px solid #000;
}

.property-card .carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000;
}
