.App {
  text-align: center;
}

:root {
  --primary-bg: #cccccc;
  --secondary-bg: #ffffff;
  --primary-fg: #404040;
  --secondary-fg: #fb9e01;
}

body {
 background: var(--primary-bg);
 color: var(--primary-fg);
}