.App {
  text-align: center;
}

:root {
  --primary-bg: #cccccc;
  --secondary-bg: #f8f9fa;
  --primary-fg: #404040;
  --secondary-fg: #fb9e01;
}

body {
  background: var(--primary-bg);
  color: var(--primary-fg);
}

.center-page{
  height: calc(100vh - 60px);
}
.spinner-large {
  height: 70px;
  width: 70px;
}

.spinner-small {
  height: 20px;
  width: 20px;
}
